<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="media">
                <img class="mr-3" src="http://fillmurray.com/200/200" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Brent Codes</h5>
                    Fullstack Ruby on Rails Developer. 
                    I really enjoy the ruby programming language. 
                    Well, most programming languages.
                    You can see what I am up to by visiting my github <a href="http://github.com/webdevbrent">webdevbrent</a>.
                </div>
            </div>
        </div>
      </div>
</div>
<hr>
<div class="container">
    <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
</div>

