<h2 class="p-3 mt-3">
    {% if site.demos.size == 1 %} Demo ({{ site.demos.size }}) {% else %} Demos ({{ site.demos.size }}) {% endif %}
</h2>

<div class="row justify-content-md-center">
        {% for demo in site.demos limit:4 %}
          {% assign indexmod3 = forloop.index | modulo: 3 %}
          {% if indexmod3 == 0 %}<div style="clear: both;"></div>{% endif %}
        <div class="col mb-2">
            <div class="card" style="">
                <img class="card-img-top img-fluid" src="{{ demo.img_path }} " alt="{{ demo.title }}">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ demo.url }}">{{ demo.title }}</a></h5>
                  <p class="card-text">{{ demo.excerpt | truncatewords:25 }}</p>
                  <a href="{{ demo.url }}" class="btn btn-info float-right">{{ demo.title }}</a>
                </div>
            </div>
    
        </div>
        {% endfor %}
</div>