---
layout: default
---

    <div class="row justify-md-center">
        <div class="col">
            <div class="media mb-2 mt-2 p-3">
                <img class="align-self-center mr-3" src="https://media.licdn.com/dms/image/C4E03AQHQsDJKpKjXXA/profile-displayphoto-shrink_200_200/0?e=1550102400&v=beta&t=iR2EDDzq_lCAQacq5ixKunPe3C8kFlGF-29WWpq8_QM" alt="Brent Phillips">
                <div class="media-body">
                  <h5 class="mt-0">{{ site.author }}</h5>
                    <p class="mb-2 editable">
                        {{ site.about_author}}
                        You can see what I am up to by visiting my github <a href="http://github.com/{{ site.social_github }}" target="_blank">{{ site.social_github }}</a>.
                    </p>  
                </div>
            </div>
        </div>
      </div>
    {% include demos.html %}
    {% include posts.html %}
    
